<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<body>
<header style="height: 100px;">
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to my Product page</h1>
            <p class="lead text-muted">To add users or products, please click any of below buttons<p>
                <a href="/add-user" class="btn btn-primary my-2">User</a>
                <a href="/add-product" class="btn btn-secondary my-2">Products</a>
            </p>
        </div>
    </section>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="px-5 py-5 text-center">MyCompany &copy; 2024 all right reserved</p>
    </div>
</footer>
</body>
</html>